.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.intro
  background-image: url(../assets/curso/temas/Introduccion/Fondo.png)
  background-repeat: no-repeat
  position: relative
  background-position: inherit
  padding: inherit

.intro2
  background-image: url(../assets/curso/temas/Tema1/Fondo.png)
  background-repeat: no-repeat
  position: center
  background-position: center
  padding: inherit

.intro3
  background-image: url(../assets/curso/temas/Tema3/Fondo.png)
  background-repeat: no-repeat
  position: relative
  background-position: inherit
  padding: inherit

.fondo1
  background-image: url(../assets/curso/temas/Tema3/Fondo2.png)
  background-repeat: no-repeat
  position: relative

.bloque-texto-b i
  color: #148D80
  


.bloque-texto-b.color-primario:before
  background-color: #D7ECEA
  top: 25%
  bottom: 17px
  left: -2%
  right: 484px

.color-cajon
  background-color: #EAE696
  bottom: 17px
  left: -2%
  right: 484px


.imgslider
  background-image: url('../assets/curso/temas/Tema1/Fondo2.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: inherit 
  border-radius: 15px
  padding: inherit


.imgslider2
  background-image: url('../assets/curso/temas/Tema1/Fondo3.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom 
  border-radius: 16px

.imgslider3
  background-image: url('../assets/curso/temas/Tema2/Fondo.png')    
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom 
  border-radius: 16px
 
.slyder-b__img
  width: 80%
  float: right

//.mb-3
  //margin: 15%

.intro3
  background-image: url(../assets/curso/temas/Tema1/Fondo4.png)
  background-repeat: no-repeat
  position: relative
  background-position: inherit
  padding: inherit

.bloque-texto-b.color-cajon2:before
  background-color: #E7F4F3
  top: 60%
  bottom: -94px
  left: 14%
  right: -11px

.bloque-texto-b.color-cajon3:before
  background-color: #CDF3C5
  top: -3%
  bottom: 259px
  left: -7%
  right: 265px

.bloque-texto-b.color-cajon4:before
  background-color: #E7F4F3
  top: -7%
  bottom: 236px
  left: -7%
  right: 373px


.bloque-texto-g__img.carimg
  left: -1px
  width: 100%
  top: 0%
  bottom: 22%

.bloque-texto-g__texto2
  position: sticky
  width: 71%
  margin-right: 38%
  margin-bottom: 95px
  margin-top: -2rem!important

.bg8    
  background-color: #594E38

.cajon.color-acento-contenido
  background-color: #D7ECEA
  width: 336px

.cajon.color-acento-contenido:before
  background-color: #148D80


.bg1
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative

  &::before
    content: ""
    position: absolute
    margin-left: -48px
    margin-top: -78px 
    width: calc( 100% + 96px )
    height: 270%       
    background-image: url('../assets/curso/temas/Tema1/Fondo5.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center top 

.bg2
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative

  &::before
    content: ""
    position: absolute
    margin-left: -48px
    margin-top: -1118px 
    width: calc( 100% + 96px )
    height: 510%       
    background-image: url('../assets/curso/temas/Tema1/Fondo6.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center top 

.bg3
  position: relative
  .row, figure, p, h3, .titulo-sexto.color-primario
    position: relative

  &::before
    content: ""
    position: absolute
    margin-left: -48px
    margin-top: -537px 
    width: calc( 100% + 96px )
    height: 625%       
    background-image: url('../assets/curso/temas/Tema2/Fondo2.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center top 

.bloque-texto-b i 
    font-size: 1.5em

.bloque-texto-f.color-acento-botones
  background: #EAE696

.color_verde
  color: #50C69D



figcaption
  background: white !important  
  border-top: 10px solid #12263F
  box-shadow: 0px 2px 8px darkgrey

.editimg
  position: absolute
  width: 15%   
  @media (max-width: 200px)
    display: none
  

  
    
  
